.main_container {
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-container {
  display: grid;
  max-width: 1440px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(720px, 1fr));
  padding: 0;
  overflow: hidden;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0;
  height: 600px;
  display: flex;
  justify-content: center;
}

.grid-item img {
  padding: 0;
  margin: 0;
}

.grid-item_text h1,
.grid-item_areas h1 {
  font-size: 2.5em;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
}

.grid-item_text p,
.grid-item_areas p {
  font-size: 1.2em;
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  line-height: 2;
}

.grid-item_text {
  display: flex;
  flex-direction: column;
  padding: 7em;
  text-align: left;
  max-width: 32em;
  justify-content: center;
}

.grid-item_text a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
}

.grid-item_text .link_hover {
  padding-top: 2em;
}

.link_hover .yellow_link {
  --underline-color: #fad400;
}

.link_hover .pink_link {
  --underline-color: #fe7867;
}

.grid-item_areas {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.grid-item_areas h1 {
  font-size: 2em;
  font-weight: 900;
  font-family: "Fraunces", serif;
  max-width: 24em;
}

.grid-item_areas_text {
  max-width: 24em;
  text-align: center;
  padding-bottom: 2em;
}

/* Underline effect */

:root {
  --underline-intrinsic-width: 100;

  --underline-width: 12;

  --underline-cap-width: 2px;

  --underline-offset-y: 2px;

  --underline-padding-x: 0.12em;

  --cap-image-left: url(https://files-d4s40otz1.now.sh/left.svg);
  --cap-image-right: url(https://files-4vvqilj8v.now.sh/right.svg);
}

.link_hover a:hover {
  width: 14vw;
  text-align: center;
  display: inline;
  --underline-width-scale: calc(
    var(--underline-width) / var(--underline-intrinsic-width)
  );
  padding: 0
    calc(
      var(--underline-padding-x) +
        calc(var(--underline-cap-width) * var(--underline-width-scale))
    );
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      var(--underline-color),
      var(--underline-color)
    ),
    var(--cap-image-left), var(--cap-image-right);
  background-position-x: calc(
      var(--underline-cap-width) * var(--underline-width-scale)
    ),
    0, 100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size: calc(
        100% -
          calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)
      )
      calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}

@media only screen and (max-width: 375px) {
  .grid-item {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .grid-item_text {
    display: flex;
    flex-direction: column;
    padding: 1em 7em;
    text-align: center;
    max-width: 32em;
    justify-content: center;
  }

  .grid-item_text h1,
  .grid-item_areas h1 {
    font-size: 2em;
  }

  .grid-item_text p,
  .grid-item_areas p {
    font-size: 1em;
    line-height: 1.5;
  }

  .grid-item_areas_text {
    max-width: 20em;
  }
}
