.testimonals_container {
  max-width: 1440px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 5em;
}

.grid_container_testimals {
  display: flex;
  justify-content: center;
  padding: 0;
  height: fit-content;
  /* flex-wrap: wrap; */
}

.grid_testimonal {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 4em 2em;
  width: 100%;
  /* flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.testimonial_text {
  height: 5em;
  width: 24vw;
  padding: 2em 0;
}

.testimonial_text p {
  font-family: "Barlow", sans-serif;
  color: hsl(212, 27%, 19%);
  line-height: 2;
}

.grid_testimonal img {
  border-radius: 50%;
}

.testimonals_container h1 {
  color: hsl(210, 4%, 67%);
  font-size: 1.3em;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 2em;
  text-align: center;
}

.testimonial_name {
  padding-top: 2em;
}

.testimonial_name h4 {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  font-weight: 900;
}

.testimonial_profession h5 {
  color: hsl(210, 4%, 67%);
}

/* Media Queries */

@media only screen and (max-width: 1000px) {
  .grid_testimonal .testimonial_name {
    padding-top: 4em;
  }

  .testimonial_text p {
    line-height: 1.4;
  }
}

@media only screen and (max-width: 600px) {
  .grid_container_testimals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .testimonial_text {
    height: 5em;
    width: 50vw;
  }

  .grid_testimonal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
  }
  .grid_testimonal .testimonial_name {
    padding-top: 0;
  }
}

@media only screen and (max-width: 375px) {
  .grid_testimonal .testimonial_name {
    padding-top: 1.2em;
  }

  .testimonals_container h1 {
    font-size: 0.5em;
    letter-spacing: 0;
  }
}