.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2.5em 2em;
  background-color: transparent;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.navbar a:hover {
  color: rgb(255, 255, 255);
  font-family: "Fraunces", serif;
  padding: 0 auto;
}

.list {
  list-style: none;
  display: flex;
  gap: 2em;
}

.list_container {
  width: 8em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: transparent;
}

.list_container:hover {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

#toggler,
.navbar label
 {
  display: none;
}

/* Media Queries */

@media only screen and (max-width: 831px) {
  .list {
    align-items: center;
    gap: 1em;
  }
}

@media only screen and (max-width: 787px) {
  .menu {
    width: 80vw;
    max-height: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }

  .menu ul li a {
    color: hsl(212, 27%, 19%);
  }

  .menu ul li a:hover {
    color: hsl(212, 27%, 19%);
    font-family: "Fraunces", serif;
  }

  .menu .list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: transparent;
  }

  .menu .list_container:hover {
    background-color: hsl(51, 100%, 49%);
    width: 8em;
    height: 3em;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  .menu ul li:hover {
    width: 100vw;
    height: 10vh;
    color: hsl(212, 27%, 19%);
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}

