@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

body,
html {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1440px;
  height: 100%;
}

* {
  border: 1px solid red;

}
