.content_container {
  max-width: 1440px;
  height: auto;
  border: 1px solid red;
  display: flex;
}

.top_content,
.bottom_content {
  width: 100%;
  height: 65.28835690968444vh;
  display: flex;
  border: 1px solid blue;
}

.content img {
  width: 37.5vw;
  height: 100%;
}

.top_content h1,
.bottom_content h1 {
  font-size: 2.5em;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
}

.top_content p,
.bottom_content p {
  font-size: 1.2em;
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
}

.content .content_text {
  display: flex;
  flex-direction: column;
  padding: 7em;
  text-align: left;
  max-width: 32em;
  justify-content: center;
}

.top_content a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
}

.grid-item_text .link_hover {
  padding-top: 2em;
}

.link_hover .yellow_link {
  --underline-color: #fad400;
}

.link_hover .pink_link {
  --underline-color: #fe7867;
}

/* Underline effect */

:root {
  --underline-intrinsic-width: 100;

  --underline-width: 12;

  --underline-cap-width: 2px;

  --underline-offset-y: 2px;

  --underline-padding-x: 0.12em;

  --cap-image-left: url(https://files-d4s40otz1.now.sh/left.svg);
  --cap-image-right: url(https://files-4vvqilj8v.now.sh/right.svg);
}

.link_hover a:hover {
  width: 14vw;
  text-align: center;
  display: inline;
  --underline-width-scale: calc(
    var(--underline-width) / var(--underline-intrinsic-width)
  );
  padding: 0
    calc(
      var(--underline-padding-x) +
        calc(var(--underline-cap-width) * var(--underline-width-scale))
    );
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      var(--underline-color),
      var(--underline-color)
    ),
    var(--cap-image-left), var(--cap-image-right);
  background-position-x: calc(
      var(--underline-cap-width) * var(--underline-width-scale)
    ),
    0, 100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size: calc(
        100% -
          calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)
      )
      calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}

@media only screen and (max-width: 375px) {
  .content .content_text {
    display: flex;
    flex-direction: column;
    padding: 10em;
    text-align: center;
    max-width: 32em;
    justify-content: center;
  }
}
